.nav-link {
  color: green;
}

.nav-item>a:hover {
  color: green;
}

/*code to change background color*/
.navbar-nav>.active>a {
  background-color: #C0C0C0;
  color: purple;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.body_center {
  border: 3px solid green;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#calendar {
  margin: 20px auto;
}

/* from here taken from https://www.w3schools.com/css/css_form.asp */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div > form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* until here taken from https://www.w3schools.com/css/css_form.asp */